# Thư mục node_modules
node_modules

# Thư mục dist (nếu bạn không muốn biên dịch lại trong container)
dist

# File log
npm-debug.log
yarn-debug.log
yarn-error.log

# Các file cấu hình của IDE
.idea
.vscode

# Các file tạm thời và file backup
*.tmp
*.log
*.swp

# Các file cấu hình không cần thiết
Dockerfile
docker-compose.yml
README.md
*.env